sphinx>=7.1.2,<8
furo
myst-parser>=3.0,<4
sphinx-autobuild
sphinx-copybutton
sphinx-design
linkify-it-py>=2.0
# Package dependencies needed for API docs
waterbear>=2.6.0
pandas>=1.0.0
pillow>=8.0.0
matplotlib>=3.0.0
termcolor>=1.1.0
tabulate>=0.8.0
pyyaml>=5.0.0
